<div class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Ugly Mug Cafe menu item">
    <div class="card-body">
        <h5 class="card-title">Iced Latte</h5>
        <p class="card-text">Espresso + Milk</p>
        <div class="row">
            <div class="col-sm-6">
                <span>Php 120</span>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-number" min="1" max="10" name="IcedLatte" #IcedLatte="ngModel" [(ngModel)]="service.orderFormData.IcedLatte">
                        
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="service.orderDetailFormData.Notes" class="form-control" placeholder="Notes" maxlength="20" required>-->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Ugly Mug Cafe menu item">
    <div class="card-body">
        <h5 class="card-title">White Chocolate</h5>
        <p class="card-text">Latte + White Chocolate</p>
        <div class="row">
            <div class="col-sm-6"> 
                <span>Php 120</span>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-number" min="1" max="10" name="WMC" #WMC="ngModel" [(ngModel)]="service.orderFormData.WMC">
                        
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="service.orderDetailFormData.Notes" class="form-control" placeholder="Notes" maxlength="20" required>-->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Ugly Mug Cafe menu item">
    <div class="card-body">
        <h5 class="card-title">Dirty Horchata</h5>
        <p class="card-text">Coconut milk + Espresso</p>
        <div class="row">
            <div class="col-sm-6">
                <span>Php 120</span>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-number" min="1" max="10" name="DirtyHorchata" #DirtyHorchata="ngModel" [(ngModel)]="service.orderFormData.DirtyHorchata">
                        
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="service.orderDetailFormData.Notes" class="form-control" placeholder="Notes" maxlength="20" required>-->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Ugly Mug Cafe menu item">
    <div class="card-body">
        <h5 class="card-title">Espresso</h5>
        <p class="card-text">a shot of espresso</p>
        <div class="row">
            <div class="col-sm-6">
                <span>Php 120</span>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-number" min="1" max="10" name="Espresso" #Espresso="ngModel" [(ngModel)]="service.orderFormData.Espresso">
                        
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="service.orderDetailFormData.Notes" class="form-control" placeholder="Notes" maxlength="20" required>-->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Ugly Mug Cafe menu item">
    <div class="card-body">
        <h5 class="card-title">Truffle Fries</h5>
        <p class="card-text">Thick cut fries + Truffle dip</p>
        <div class="row">
            <div class="col-sm-6">
                <span>Php 120</span>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-number" min="1" max="10" name="TruffleFries" #TruffleFries="ngModel" [(ngModel)]="service.orderFormData.TruffleFries">
                        
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="service.orderDetailFormData.Notes" class="form-control" placeholder="Notes" maxlength="20" required>-->
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Ugly Mug Cafe menu item">
    <div class="card-body">
        <h5 class="card-title">Cream Cheese Bagel</h5>
        <p class="card-text">Freshly baked bagel + Cream cheese</p>
        <div class="row">
            <div class="col-sm-6">
                <span>Php 120</span>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-number" min="1" max="10" name="Bagel" #Bagel="ngModel" [(ngModel)]="service.orderFormData.Bagel">
                    </div>
                </div>
            </div>
        </div>
        <!--<input type="text" name="Notes" #Notes="ngModel" [(ngModel)]="service.orderDetailFormData.Notes" class="form-control" placeholder="Notes" maxlength="20" required>-->
    </div>
</div>
