<div class="container">
    <div class="row" class="text-center">
        <h1>Order Queue</h1>
    </div>
    <div class="row ">
        <div *ngFor="let order of orders" width="150" class="repeating-div">
            <div class="card content-card" *ngIf = "isShow">
                <div *ngIf="order.Type == 'received'">
                    <div class="card-header accent-font">
                        Order #{{order.orderId}} for {{order.customerName}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Iced Latte: {{order.icedLatte}} <br />                
                            White Chocolate Mocha: {{order.wmc}} <br />                
                            Dirty Horchata: {{order.dirtyHorchata}} <br />
                            Chocolate Chip Latte: {{order.espresso}} <br />
                        </p>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-sm btn-outline-success btn-block" (click)="hideOrder()">complete
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-sm btn-outline-secondary btn-block" (click)="hideOrder()">cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>